<!doctype html>
{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <title>Status Confirmation</title>

  </head>

  <body>
      <br>
      <h class="font-weight-bold" style="font-size: 5vh; margin-left: 8.7%;">Confirmation</h>
      <form action="{% url 'homepage:confirmation' %}" method="post">
        {% csrf_token %}
        <div style="margin-left: 10px; margin-right: 10px;">
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                <div class="form-group">
                    <label for="name" class="form-label">Name: {{ name }}</label>
                    <input class="form-control" id="name" type="hidden" name="name" value="{{ name }}" readonly>
                </div>

                <div class="form-group">
                    <label for="status" class="from-label">Status: {{ status }}</label>
                    <input class="form-control" id="status" type="hidden" name="status" value="{{ status }}" readonly>
                </div>
            </div>
        </div>
        <div class="row">
            <input name="save" id="submitBtn" type="submit" class="btn btn-secondary" style="margin-left: 8.7%;" value="Save">
            <a class="btn btn-secondary" href="{% url 'homepage:index' %}" role="button" name="back" style="margin-left: 1%;">Back</a>
        </div>
      </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>